<!DOCTYPE html>
<html>
    <section class="navbar" onload="updateTitle()">
        <p-menubar>

            <ng-template pTemplate="start">
                <button type="text" pButton label="Ingredients" (click)="op.toggle($event)"></button>
                <p-overlayPanel [showTransitionOptions]="'120ms'" [hideTransitionOptions]="'120ms'" #op [dismissable]="true" [showCloseIcon]="true" [style]="{width: '380px'}">
                    <ng-template pTemplate>
                        <p-table [value]="ingredients" selectionMode="single" [(selection)]="selectedIngredient" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                                    <th pFrozenColumn="image">Image<p-sortIcon field="image"></p-sortIcon></th>
                                    <th pFrozenColumn="unit">Unit <p-sortIcon field="unit"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-ingredient>
                                <tr [pSelectableRow]="rowData">
                                    <td>{{ingredient.name}}</td>
                                    <td>
                                        <div class="showcase">
                                            <img class="object-fit-cover" *ngIf="ingredient.quantity%6==0" [src]="'assets/images/ingredients/ingredient2.jpg'" [alt]="ingredient.name"/>
                                            <img class="object-fit-cover" *ngIf="ingredient.quantity%6==1" [src]="'assets/images/ingredients/ingredient3.jpg'" [alt]="ingredient.name"/>
                                            <img class="object-fit-cover" *ngIf="ingredient.quantity%6==2" [src]="'assets/images/ingredients/ingredient4.jpg'" [alt]="ingredient.name"/>
                                            <img class="object-fit-cover" *ngIf="ingredient.quantity%6==3" [src]="'assets/images/ingredients/ingredient7.jpg'" [alt]="ingredient.name"/>
                                            <img class="object-fit-cover" *ngIf="ingredient.quantity%6==4" [src]="'assets/images/ingredients/ingredient8.jpg'" [alt]="ingredient.name"/>
                                            <img class="object-fit-cover" *ngIf="ingredient.quantity%6==5" [src]="'assets/images/ingredients/ingredient9.jpg'" [alt]="ingredient.name"/>
                                        </div>
                                    </td>
                                    <td>{{ingredient.unit}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                </p-overlayPanel>
            </ng-template>


            <ng-template pTemplate="mid">
                <img src="../../assets/images/star1.png" height="35" class="mr-2" alt="TOP logo">
            </ng-template>



            <ng-template pTemplate="end">
                <p>
                    <button pButton pRipple class="p-button-rounded p-button-help" type="button" *ngIf=""
                        icon="pi pi-user" routerLink="/edit" routerLinkActive="active"></button>
                    <button pButton pRipple class="p-button-rounded p-button-help" type="button" *ngIf=""
                    icon="pi pi-sign-out" routerLinkActive="active" pButton label="Logout"></button>
                </p>
            </ng-template>


        </p-menubar>
    </section>
</html>

